.header {
  background-color: #523080; /* Adjust color to match the image */
  padding: 10px;
  height: 72px;
  justify-items: center;
}

.header .search-input {
  background-color: #64458d;
  border: none;
  color: white;
  margin-left: 16px;
  height: 30px !important;
  vertical-align: 5px;
}

.header .search-input:focus {
  outline: none;
  box-shadow: none;
}

.header .search-input:active {
  opacity: 1;
  transition: all 0.4s ease;
}

.header .btn-link {
  color: #d6cee1;
  background-color: #755999;
  font-size: 10pt;
  padding: 5px;
  font-weight: 600;
  letter-spacing: 1px;
}
.header .btn-link:hover {
  color: #ddd;
}

.header .btn-link-icon {
  color: #755999;
  font-size: 14pt;
}

.header .btn-link-icon:hover {
  color: #ddd;
  transition: all 0.4s ease;
}

.header .btn-link-icon:focus {
  border: none;
}

@media (min-width: 1025px) {
  .header .search-input {
    width: 300px;
  }

  .header {
    padding: 10px;
  }
}

@media (max-width: 1024px) {
  .header {
    height: 92px;
  }

  .header .more-btn-link-icon {
    color: #755999;
    font-size: 16pt;
    padding-bottom: 0;
  }
}
